body {
  background: white;
  font-family: "Courier New", Courier, monospace;
}
a {
  color: aqua;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(65, 50, 100, 0.08);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.search-button {
  color: #f9f7fe;
  border-radius: 5px;
  padding: 20px;
  border: none;
  line-height: 1px;
  background-color: #f9f7fe;
  font-size: 10px;
  margin-left: 10px;
}
main {
  padding: 30px 0;
}
